
/* Fix fixed chrome bug */
.fc-scrollgrid-section-liquid {
  height: 1px !important;
}
.auth-background {
	background-image: url("../images/banner/banner-4.jpg") ;
	 
	
	/* Full height */
  height: 100; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navigation .active a{
 background:black !important;
}
.navigation.nav-item a:hover{
  color:white !important;
  background:black !important;
  box-shadow:000 .3rem rgba(136,126,242,.5);
}